nav{
    display: flex;
    position: sticky;
    width: 100%;
    background-color: #1c5253;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
}

nav a.icon{
    font-size: 32px;
    color: white;
    margin-left: 10px;
    height: fit-content;
}