@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --body-color: #e4e9f7;
    --nav-color: #1C5253;
    --side-nav: #010718;
    --text-color: #fff;
    --search-bar: #f2f2f2;
    --search-text: #010718;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
    margin-left: 85px;
}

.row{
    width: 300px;
    height: 400px;
    background: #000;
    border-radius: 30px;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
    margin-left: 25px;
}

.row:hover{
    transform: scale(.9);
}

.row:hover:after{
    height: 280px;
}

.row:hover .con-text p{
    margin-bottom: 0px;
    opacity: 1;
}

.row:hover img{
    transform: scale(1.25);
}

.row:after{
    width: 100%;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 150px;
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 20;
    transition: all .25s ease;
}

.row img{
    height: 100%;
    z-index: 10;
    transition: all .25s ease;
}

.row .con-text{
    z-index: 30;
    position: absolute;
    bottom: 0px;
    color: #fff;
    padding: 20px;
    padding-bottom: 30px;
}

.row .con-text p{
    font-size: .8rem;
    opacity: 0;
    margin-bottom: -170px;
    transition: all .25s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.row .con-text p a{
    padding: 7px 17px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
    transition: all .25s ease;
    font-family: poppins;
    font-size: .75rem;
    outline: none;
    text-decoration: none;
}

.row .con-text p a:hover{
    background: white;
    color: #000;
}