@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --body-color: #e4e9f7;
    --nav-color: #1C5253;
    --side-nav: #010718;
    --text-color: #fff;
    --search-bar: #f2f2f2;
    --search-text: #010718;
}

/* No item image */
.empty-image{
    margin-left: 270px;
}

/* Text */
.text{
    margin-left: 425px;
    font-size: x-large;
    margin-top: 24px;
}

/* Belanja Sekarang */
form .input-form input{
    height: 100px;
    width: 50%;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #c7bebe;
    border-bottom-width: 2.5px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

form .input-form.button{
    padding-left: 450px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.input-form input:focus,
.input-form input:valid{
    border-color: var(--nav-color);
}

.input-form.button input{
    color: white;
    letter-spacing: 1px;
    border: none;
    background: var(--nav-color);
    cursor: pointer;
}

form .input-form.button input:hover{
    background: white;
    color: var(--nav-color);
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    border: 1.5px solid var(--nav-color);
}